*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.menu{
    width: 200px;
   
    background-color: #182336;
    border-radius: 12px;
    margin: auto;

}
.menu-decrip{
    width: 100%;
    padding: 15px 0 15px 10px;
    
    
}
.menu-item{
    list-style-type: none;
    color: #fff;
    display: flex;
    align-items: center;
   padding: 15px;
    cursor: pointer;
    border-radius: 12px 0 0 12px;
    position: relative;
  
}

.menu-item span{
    margin-left: 10px;
    display: block;

}
.active{
    background-color: #FFF;
    color: #655BBA;
}